<title><%=title%></title>

<div class="mt-4">&nbsp;</div>
<section id="about" class="about">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-xl-5 content">
        <h3 class="custom">About Us</h3>
        <h2> Your Trusted Healthcare Partner</h2>
        <p>we are dedicated to providing exceptional healthcare services tailored to your unique needs. Our clinic is
          staffed by a team of highly skilled and compassionate healthcare professionals who specialize in a wide range
          of medical disciplines. We take pride in our commitment to delivering top-notch care to our patients.</p>
        <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="fas fa-flag-checkered"></i>
              <h3>Mission and Vision</h3>
              <p>Our mission is to provide exceptional healthcare services with compassion and expertise. We are
                dedicated to improving the health and well-being of our patients by delivering personalized care
                tailored to their unique needs. Our vision is to be a trusted healthcare partner in our community, known
                for our commitment to excellence and patient-centered values.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="fas fa-atom"></i>
              <h3>Team and Expertise</h3>
              <p>Our team consists of highly skilled and compassionate healthcare professionals. Our roster includes
                board-certified physicians, specialists, experienced nurses, and dedicated support staff. With a wealth
                of expertise and a shared commitment to patient care, our team works collaboratively to ensure the best
                possible outcomes for our patients.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="fa-solid fa-shield-halved"></i>
              <h3>Privacy and Security</h3>
              <p> We strictly adhere to all healthcare regulations to safeguard your personal and medical information.
                Our clinic has implemented robust security measures and privacy protocols to ensure the confidentiality
                of your data. You can trust us to handle your information with the utmost care and professionalism.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="fas fa-vial"></i>
              <h3>Social Responsibility</h3>
              <p>We strive to minimize our environmental impact by implementing eco-friendly practices in our
                operations. Additionally, we actively participate in community outreach and charitable initiatives to
                give back to the community we serve. Our dedication to social responsibility extends beyond healthcare
                to create a positive impact on society as a whole.</p>
            </div>
          </div> <!-- End Icon Box -->

        </div>
      </div>

    </div>
  </div>