<div class="card mb-3 mx-2 my-4">
    <div class="card-body">
        <img src="https://wallpaperaccess.com/full/4433956.jpg" class="card-img-top p-2 rounded"
            alt="https://wallpaperaccess.com/full/4433956.jpg">
    </div>
</div>