<section id="team" class="team" style="background-color: rgba(159, 226, 191, 0.1);">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Team</h2>
      <div class="divider mx-auto my-4"></div>
      <p>We have Multispecialist Doctors in our Mediassist Team who are experts in their respective fields.
        <br>Some of our Many professional minds are:
      </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/images/team-1.png" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Rakesh Gupta</h4>
            <span>Surgeon</span>
            <p>AIIMS-Delhi</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="/images/team-2.png" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Niharika Gupta</h4>
            <span>Pediatrician</span>
            <p>Jawaharlal Institute of Postgraduate Medical Education and Research</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="/images/team-3.jpg" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Shailenda Sharma</h4>
            <span>General practitioner</span>
            <p>Maulana Azad Medical College</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="/images/team-4.jpg" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Neha Arora</h4>
            <span>Psychiatrist</span>
            <p>Madras Medical College, Chennai</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
          <div class="member-img">
            <img src="/images/team-5.jpg" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Jigar Vyas</h4>
            <span>Orthopedics</span>
            <p>King George's Medical University</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
          <div class="member-img">
            <img src="/images/team-6.webp" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Tulsi Patel</h4>
            <span>Dentist</span>
            <p>Christian Medial College</p>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- End Team Section -->