<nav class="navbar navbar-dark navbar-expand-lg custom text-white autohide" id="s1"
    style="background-color: rgb(6, 154, 45);">


    <div class="container-fluid text-white">
        <a class="navbar-brand" href="/"><img src="/images/logo.png" width="100px" height="30px"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active color-me" aria-current="page" href="/">Home</a>
                </li>
                <%if(locals.user!==undefined && locals.user.role!=='practitioner' ){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/appointment">Appoinment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/appointment/view-appointments">View_Appoinment</a>
                    </li>
                    <%}else{%>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/appointment">Appoinment</a>
                        </li>
                        <%}%>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About_Us</a>
                            </li>
            </ul>
            <div class="container-end">
                <% if (locals.user) { %>
                    <a class="btn btn-outline-light" href="/users/profile/<%=locals.user.id%>">
                        <%=user.name%>
                    </a>
                    <a class="btn btn-outline-light" href="/users/sign-out">LOGOUT</a>
                    <% } else { %>
                        <a class="btn btn-outline-light" href="/users/sign-in">Login</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>