<title><%=title%></title>

<section id="team" class="team" style="background-color: rgba(159, 226, 191, 0.1);">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Team</h2>
      <div class="divider mx-auto my-4"></div>
      <p>
        Meet our dedicated team of talented developers who bring innovation to life!
        <br> 
        With a passion for coding and a commitment to excellence, our developers craft seamless digital experiences. 
        Together, we strive to create cutting-edge solutions that elevate user satisfaction and redefine online engagement.
        Join us on a journey where technology meets creativity, and discover the expertise behind our website's success.
      </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/images/dharmesh_profile.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/Dharmesh-Kota"><i class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/dharmesh.2004/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/dharmesh-kota-8a9810268/"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Dharmesh Kota</h4>
            <span>DSA & MERN Developer</span>
            <p>DAIICT</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="/images/aditya.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/AdityaPatel2710"><i class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/adityapatel3294/"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Aditya Patel</h4>
            <span>DSA & Java-Developer</span>
            <p>DAIICT</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="/images/krushi.jpg" class="img-fluid" alt="">
            <div class="social">
                <a href="https://github.com/krushisutariya"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/krushi-sutariya-933150289/"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Krushi Sutariya</h4>
            <span>DSA, ML & Data-Scientist</span>
            <p>DAIICT</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="/images/akshat.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/akshat-11004"><i class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/akshat_11004/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/akshat-kadia-588a85266/"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Akshat Kadia</h4>
            <span>DSA & C++ Developer</span>
            <p>DAIICT</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
          <div class="member-img">
            <img src="/images/krishil.jpg" class="img-fluid" alt="">
            <div class="social">
                <a href="https://github.com/Krishil-Jayswal"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/j.krishil/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/krishil-jayswal-495929254/"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Krishil Jayswal</h4>
            <span>DSA & Ethical Hacker</span>
            <p>DAIICT</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Team Section -->
