<div>
    <p>From: <%= user.name%></p>
    <br><br>
    <p>The given below query has been submitted by a user on MediAssist</p>
    <p>Subject: <%= subject%></p>
    <p><%= contact_mail%></p>
    <br><br>
    <p>Thanks!!</p>
</div>